@model IEnumerable<BandManager.Models.Budget>

@{
    Layout = "~/Views/Shared/_SideBarLayout.cshtml";

    var total = Model.Sum(a => a.Total);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Budget Page</title>
</head>
<body>
    <p>
        @Html.ActionLink("Transaction Log", "Create")
    </p>
    <p> @total</p>
    <table class="table">
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.band.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.TransactionDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransactionAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransActionDate)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.band.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransActionDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
